* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 80%;
  max-width: 1300px;
  padding: 0 40px;
}
.nav_items {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding-top: 30px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
li {
  list-style: none;
}
.navbar__links {
  padding-left: 30px;
}
#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

/* container__one */
.container__1 {
  background: #ff0846da;
  background-size: cover;
  width: 100%;
}
.container__one {
  text-align: center;
  padding: 50px 20px;
  background-size: cover;
}
.form__inputs {
  display: inline-block;
  flex-direction: row;
  margin: 150px;
  width: 70%;
  background: #ff8177;
  padding: 12px 20px;
}
.label__1 {
  text-align: center;
  padding-top: 10px;
}
.btn__1 {
  background-color: #ffb199;
  text-align: center;
  align-items: center;
  width: 10%;
  height: 50px;
  margin: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* sign-up */
.container__two {
  background-color: #ffb199af;
  background-size: cover;
  width: 100%;
}
.container {
  text-align: center;
  padding: 50px 20px;
}
.container__two form {
  display: inline-block;
  flex-direction: row;
  margin: 150px;
  width: 70%;
  background: #ff8177;
  padding: 12px 20px;
}
.btn_3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.btn_3 button {
  background-color: #ffb199;
  text-align: center;
  align-items: center;
  width: 10%;
  height: 50px;
  margin: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
